body {}

header {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #B1E4F2;
    color: #023047;
}

h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*rotate: 0 0 1 340deg;*/
    font-size: 3em
}

#mainContent {
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    min-height: 60vh;
}

#googlePlayButton {
    margin: auto;
    display: block;
}

footer {
    background-color: #B1E4F2;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-top: auto;
    color: #023047;
}

.socMeds {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto auto auto;
}

#doghouse {
    margin: auto;
    display: block;
}

@media screen and (max-width: 1250px) {
    #mainContent {
        margin-top: 2em;
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media screen and (max-width: 750px) {
    #mainContent {
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        min-height: 60vh;
    }
}
