#mainContent{
	background-color: #DDDDDD;
	height: 100vh;
	width: 100vw
}
#imageContainer{
	background-color: #FF0000;
	height: 100%;
	width: 50%
}
#textContainer{
	background-color: #00FF00;
	height: 100%;
	width: 50%
}
table{
	height: 100%;
	width: 100%
}
#petBody{
	position: relative;
	height: 80%;
	width: 80%;
	float: left
}
#petHead{
	position: relative;
	height: 60%;
	width: 50%;
	float: left
}